<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Register</title>
<link href='https://fonts.googleapis.com/css?family=Tomorrow' rel='stylesheet'>
<style>
    body, html {
    height: 100%;
    margin: 0; 
    font-family: 'Tomorrow';
    background: url("https://www.wallpapertip.com/wmimgs/221-2216136_wallpaper-fade.jpg") no-repeat center center fixed; 
    background-size: cover;
  
}
</style>

</head>
<body>
    <div align="center">
        <table>
            <h1>Register by filling out the following details!</h1>
            <br />
            <form action="#" th:action="@{/save_ftuser}" th:object="${user}" 
                method="post">
    
                <table border="0" cellpadding="10">
                <tr>   
                    <td> Username </td>
                    <td> <input type="text" th:field="*{username}" /></td>
                    <td> Email </td>
                    <td> <input type="text" th:field="*{email}" /></td> 
                </tr>
                <tr>   
                    <td> Hours </td>
                    <td> <input type="text" th:field="*{grade}" /></td> 
                    <td>Team</td>
                    <td><input type="text" th:field="*{team}" /></td>
                </tr>
                </table><br>
                <label for="course">Course</label>
                <input type="text" th:field="*{contract}" />
                <br><br>
                <button type="submit">Submit</button> 
                
            </form>
          
    </div>
</body>
</html> 
